.breadcrumbs {
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 12px;
    font-weight: 700;
    margin: 0 20px 0 18px;
    content: '>';
    color: #aeadac;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-size: 12px;
  white-space: nowrap;
  color: #0f0f0f;
  &:hover {
    text-decoration: none;
  }
}

.directions,
.service {
  .breadcrumbs__link,
  .breadcrumbs__item::after {
    color: #fff;
  }
}

