.menu {
  background-color: #f9f8f7;

  @include max(1000) {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    transition: .5s;
    transform: translateX(100%);
    background-color: #fff;
    &.active {
      transform: translateX(0%);
    }
  }
  @include max(480) {
    top: 130px;
  }
}
.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f9f8f7;


  @include max(1000) {
    flex-direction: column;
    padding-top: 50px;
    background-color: #fff;
  }
  svg {
    width: 5px;
    height: 5px;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  height: 80px;
  list-style: none;

  @include max(1270) {
    height: 50px;
  }
}
.menu__item--parent {
  padding-right: 10px;

  @include max(1270) {
    padding-right: 0;
  }
  &:hover {
    svg {
      opacity: 1;

      fill: $highlight;
    }
    .menu__link {
      &::before {
        opacity: 1;
      }
    }
    .menu__sublist {
      transform: scale(1);
      pointer-events: auto;
      opacity: 1;

      @include max(1000) {
        transform: scale(0);
        pointer-events: none;
        opacity: 0;
      }
    }
  }
  & > span {
    width: 10px;
    height: 7px;
    margin-left: -15px;

    @include max(1000) {
      margin-left: 20px;
    }
    svg {
      width: 10px;
      height: 7px;
      transition: .5s;
      opacity: .6;
      color: #000;
    }
  }
  .menu__link {
    position: relative;
    @include max(1100) {

    padding-right: 5px;
    }
    &::before {
      position: absolute;
      right: 0;
      bottom: -33px;
      left: 0;
      width: 34px;
      height: 15px;
      margin: auto;
      content: '';
      transition: opacity .5s;
      opacity: 0;
      border-right: 17px solid transparent;
      border-bottom: 15px solid #fff;
      border-left: 17px solid transparent;

      @include max(1000) {
        display: none;
      }
    }
  }
}
.menu__item--shop {
  .menu__link {
    position: relative;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 14px;
      margin: auto;
      content: '';
      opacity: .3;
      background-color: #000;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
.menu__link {
  font-size: 11px;
  font-weight: 700;
  display: block;
  padding: 0 20px;
  transition: color $highlight;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;

  @include max(1100) {
    padding: 0 10px;
  }
  @include max(1000) {
    padding: 0 20px;
  }
  &:hover {
    color: $highlight;
  }
}


// begin submenu
.menu__sublist {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  list-style: none;
  transition: .5s;
  transform: translateX(0%) scale(0);
  pointer-events: none;
  background-color: #fff;

  @include max(1000) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    transform: translateX(100%) scale(1) !important;
    opacity: 1 !important;
    background-color: #fff;
  }
  .menu__sublink {
    text-decoration: none;
    color: #0f0f0f;
    transition: color .5s;
    &:hover {
      color: $highlight;
    }
  }
  .burger {
    margin-right: 25px;

    @include max(670) {
      margin-right: -5px;
    }
    @include max(480) {
      margin-right: 5px;
    }
  }
  &.active {
    padding-bottom: 80px;
    transform: translateX(0%) scale(1) !important;
    pointer-events: auto !important;
  }
}
// end submenu

// begin submenu--brands
.menu__sublist--brands {
  padding: 30px 10px 35px 30px;
  opacity: 0;

  @include max(1000) {
    z-index: 10;
    padding: 60px 20px 20px 60px;
  }
  .menu__subitem {
    width: 14.28%;
    margin-bottom: 15px;

    @include max(1200) {
      width: 16.66%;
    }
    @include max(1000) {
      width: 25%;
    }
    @include max(800) {
      width: 25%;
    }
    @include max(700) {
      width: 33.33%;
    }
    @include max(550) {
      width: 50%;
    }
    @include max(425) {
      width: 100%;
    }
  }
  .menu__sublink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0f0f0f;
    &:hover {
      .menu__sublink-pic img {
        top: 0;
        bottom: auto;
      }
    }
  }
  .menu__sublink-pic {
    position: relative;
    overflow: hidden;
    flex: none;
    width: 48px;
    height: 48px;
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }
  .menu__sublink-text {
    font-size: 14px;
    padding: 0 15px;
  }
}
// end submenu--brands

// begin submenu--delivery
.menu__sublist--delivery {
  justify-content: center;
  padding: 40px 10px 25px 30px;
  @include max(730) {
    justify-content: flex-start;
  }

  @include max(1000) {
    z-index: 10;
    padding: 60px 20px 20px 60px;
  }
  .menu__subitem {
    width: 33.33%;
    max-width: 325px;
    margin-bottom: 30px;
    @include max(730) {
      width: 50%;
    }
    @include max(550) {
      width: 100%;
    }
  }
  .menu__sublink {
    display: flex;
    align-items: center;
  }
  .menu__sublink-text {
    font-size: 14px;
    padding: 0 50px 0 20px;

    @include max(1000) {
      padding: 0 15px;
    }
  }
  .menu__sublink-pic {
    flex: none;
    padding: 0 0 0 30px;

    @include max(1000) {
      padding: 0;
    }
  }
  svg {
    width: 58px;
    height: 58px;

    fill: $highlight;
  }
}
// end submenu--delivery
