.header {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  animation: headerDown .6s .1s ease-in-out forwards;
  background-color: #f9f8f7;

  @include max(480) {
    position: relative;
  }
  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #f9f8f7;

    @include max(480) {
      flex-wrap: wrap;
      justify-content: space-between;
      height: 130px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
.header-logo {
  margin-right: auto;

  @include max(480) {
    order: -2;
    width: 80%;
  }
  svg {
    width: 100%;
    min-width: 162px;
    max-width: 195px;
    max-height: 39px;

    fill: $brand;
    @include max(480) {
      max-width: 215px;
    }
  }
}

@keyframes headerDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.search {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  padding: 20px 20px 60px 20px;
  transition: transform .5s;
  transform: translateY(-150%);
  background-color: #f9f8f7;
  @include max(480) {
    top: 130px;
  }
  &.active {
    transform: translateY(0);
  }
}
.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 694px;
  margin: 0 auto;
  background-color: #325;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
}
.search__input {
  font-size: 14px;
  width: 100%;
  max-width: 630px;
  height: 64px;
  padding: 5px 5px 5px 33px;
  color: #000;
  border-top: 1px solid #cecece;
  border-right: none;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;

  @include placeholder-color(#000);
  @include max(320) {
  padding: 5px 5px 5px 20px;

  }
}
.search__btn-wrap {
  position: relative;
  display: block;
  flex: none;
  width: 64px;
  height: 64px;
  &:hover {
    svg{
      transform: scale(1.4);
    }
  }
  background-color: $highlight;

  input {
    width: 64px;
    height: 64px;
    cursor: pointer;
    opacity: 0;
  }
  svg {
    transition: transform .5s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 26px;
    margin: auto;
    pointer-events: none;

    fill: #fff;
  }
}

.header__search-btn {
  position: relative;
  width: 17px;
  height: 17px;
  margin: 0 25px;
  cursor: pointer;

  @include max(1100) {
    margin: 0 15px;
  }
  @include max(480) {
    order: 10;
    margin-right: 0;
  }
  &:hover {
    svg {
      fill: $highlight;
    }
  }
  svg {
    width: 17px;
    height: 17px;
    transition: fill .5s;

    fill: #989898;
  }
  &.active {
    .header__search-btn--open {
      opacity: 0;
    }
    .header__search-btn--close {
      opacity: 1;
    }
  }
  .header__search-btn--open,
  .header__search-btn--close {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s;
  }
  .header__search-btn--open {
    opacity: 1;
  }
  .header__search-btn--close {
    opacity: 0;
  }
}



.header__phone {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 25px;

  @include max(1270) {
    margin-left: 0;
  }
}
.header__phone-link {
  font-size: 16px;
  font-weight: 900;
  white-space: nowrap;
  text-decoration: none;
  color: #0f0f0f;
}
.header__phone-text {
  font-size: 11px;
  line-height: 1.1;
  white-space: nowrap;
  opacity: .5;
  color: #0f0f0f;
}


.lang {
  position: relative;
  width: 24px;
  height: 24px;
  @include max(480) {
    margin-left: auto;
  }
  @include max(320) {
    margin-left: 0;
  }
  &:hover {
    .lang__item {
      &:nth-child(1) {
        transform: translateY(-23px);
      }
      &:nth-child(3) {
        transform: translateY(23px);
      }
    }
  }
}
.lang__item {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform .5s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  border: 1px solid rgba(200, 200, 200, .87);
  background-color: #f9f8f7;

  &.active {
    z-index: 1;
  }
}
