.header {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  animation: headerDown .6s .1s ease-in-out forwards;
  background-color: #f9f8f7;
  .container {
  background-color: #f9f8f7;
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
  }
}
.header-logo {
  margin-right: auto;
  padding-right: 20px;
  svg {
    width: 195px;
    height: 36px;

    fill: $brand;
  }
}

@keyframes headerDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.search {
  position: absolute;
  top: 80px;
  right: 0;
  transform: translateY(-150%);
  left: 0;
  transition: transform .5s;
  padding: 20px 20px 60px 20px;
  background-color: #f9f8f7;
  &.active {
  transform: translateY(0);

  }
}
.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search__input {
  font-size: 14px;
  width: 100%;
  max-width: 630px;
  height: 64px;
  padding: 5px 5px 5px 33px;
  color: #000;
  border-top: 1px solid #cecece;
  border-right: none;
  border-bottom: 1px solid #cecece;
  border-left: 1px solid #cecece;

  @include placeholder-color(#000);
}
.search__btn-wrap {
  position: relative;
  display: block;
  flex: none;
  width: 64px;
  height: 64px;
  background-color: $highlight;

  input {
  cursor: pointer;
    width: 64px;
    height: 64px;
    opacity: 0;
  }
  svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 26px;
    margin: auto;

    fill: #fff;
  }
}

.header__search-btn {
  position: relative;
  width: 17px;
  height: 17px;
  margin: 0 25px;
  cursor: pointer;
  @include max(1270) {
    margin-left: auto !important;
  }
  &:hover {
    svg {
      fill: $highlight;
    }
  }
  svg {
    width: 17px;
    height: 17px;
    transition: fill .5s;

    fill: #989898;
  }
  &.active {
    .header__search-btn--open {
      opacity: 0;
    }
    .header__search-btn--close {
      opacity: 1;
    }
  }
  .header__search-btn--open,
  .header__search-btn--close {
    position: absolute;
    top: 0;
    transition: opacity .5s;
    left: 0;
  }
  .header__search-btn--open {
    opacity: 1;
  }
  .header__search-btn--close {
    opacity: 0;
  }
}



.header__phone {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;
  padding-top: 12px;
  padding-right: 25px;
  @include max(1270) {
    margin-left: 0px;
  }
}
.header__phone-link {
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  color: #0f0f0f;
}
.header__phone-text {
  font-size: 11px;
  line-height: 1.1;
  opacity: .5;
  color: #0f0f0f;
}


.lang {
  position: relative;
  width: 24px;
  height: 24px;
  &:hover {
    .lang__item {
      &:nth-child(1) {
        transform: translateY(-23px);
      }
      &:nth-child(3) {
        transform: translateY(23px);
      }
    }
  }
}
.lang__item {
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform .5s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  border: 1px solid rgba(200, 200, 200, .87);
  background-color: #f9f8f7;

  &.active {
    z-index: 1;
  }
}
