//.parallax-wrap {
//  position: relative;
//  max-width: 1600px;
//  margin: 0 auto;
//}
//.parallax-decor {
//  position: absolute;
//  width: 11px;
//  height: 100%;
//  &::before,
//  &::after {
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    width: 1px;
//    margin: auto;
//    content: '';
//    background-color: #c5c5c5;
//  }
//  svg {
//    position: relative;
//    z-index: 1;
//    width: 11px;
//    height: 59px;
//    background-color: #f9f8f7;
//
//    fill: #c5c5c5;
//  }
//}
//.parallax-decor--left {
//  top: 0;
//  left: -30px;
//}
//.parallax-decor--right {
//  right: -30px;
//  bottom: 0;
//  transform: rotate(180deg);
//}
//.parallax {
//  position: relative;
//  overflow: hidden;
//  width: 100%;
//  max-width: 1600px;
//  height: 635px;
//  margin: 0 auto;
//  background-color: #341;
//  //&::before {
//  //  position: absolute;
//  //  top: 0;
//  //  right: 0;
//  //  bottom: 0;
//  //  left: 0;
//  //  margin: auto;
//  //  content: '';
//  //  //background-image: url('../img/noisy.png');
//  //  background-repeat: repeat;
//  //  background-position: 0 0;
//  //  z-index: 10;
//  //}
//}
//.parallax__bg {
//  position: relative;
//  width: 100%;
//  height: 635px;
//  .parallax__bg-inn {
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    background-repeat: no-repeat;
//  }
//}
//.parallax__bg--01 {
//  .parallax__bg-inn {
//    width: 110%;
//    transform: translate(-5%, 120px);
//    background-image: url('../img/parallax-01.png');
//    background-position: 50% 100%;
//  }
//}
//.parallax__bg--02 {
//  .parallax__bg-inn {
//    width: 100%;
//    background-image: url('../img/parallax-02.png');
//    background-position: 50% 100%;
//    background-size: cover;
//  }
//}
//.parallax__bg--03 {
//  .parallax__bg-inn {
//    width: 110%;
//    transform: translate(-5%, -20px);
//    background-image: url('../img/parallax-03.jpg');
//    background-position: 50% 0;
//  //animation: bgLeftToRight 1s 2s ease-in-out forwards;
//  }
//}
//.parallax__bg--text {
//  text-align: center;
//}
//.parallax__title {
//  font-size: 228px;
//  font-weight: 900;
//  display: inline-block;
//  transform: translateY(400px);
//  animation: titleTop 1s 2s ease-in-out forwards;
//  text-transform: uppercase;
//  color: #fff;
//  opacity: 0;
//}
//
//@keyframes titleTop {
//  from {
//    transform: translateY(400px);
//    opacity: 0;
//  }
//  to {
//    opacity: 1;
//    transform: translateY(-30px);
//  }
//}
//
////@keyframes bgLeftToRight {
////  from {
////    transform: translate(-0%, -20px);
////  }
////  to {
////    transform: translate(-5%, -20px);
////  }
////}
//
//.parallax-footer {
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  text-align: center;
//}
//.parallax-footer__text {
//  font-size: 16px;
//  font-weight: 700;
//  text-transform: uppercase;
//  color: #fff;
//}
//.parallax-footer__btn {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 35px;
//  height: 35px;
//  margin: 25px auto 30px;
//  transition: transform .5s;
//  border: 1px solid;
//  border-color: rgba(255, 255, 255, .7);
//  &:hover {
//    transform: scale(.95);
//  }
//  svg {
//    width: 8px;
//    height: 12px;
//    transform: rotate(90deg);
//
//    fill: #fff;
//  }
//}






































.parallax-wrap {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
.parallax-decor {
  position: absolute;
  width: 11px;
  height: 100%;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    margin: auto;
    content: '';
    background-color: #c5c5c5;
  }
  svg {
    position: relative;
    z-index: 1;
    width: 11px;
    height: 59px;
    background-color: #f9f8f7;

    fill: #c5c5c5;
  }
}
.parallax-decor--left {
  top: 0;
  left: -30px;
}
.parallax-decor--right {
  right: -30px;
  bottom: 0;
  transform: rotate(180deg);
}
.parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  height: 635px;
  background-color: #b1d4e7;
}
.parallax__cloud {
  position: absolute;
  width: 713px;
  height: 275px;
  background-image: url('../img/parallax/cloud.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.parallax__cloud-01 {
  top: -100px !important;
  left: -130px !important;
  animation: cloudDel 150s ease forwards;
}
.parallax__cloud-02 {
  top: -180px !important;
  left: 330px !important;
  animation: cloudDel 120s ease forwards;
}
.parallax__cloud-03 {
  top: -80px  !important;
  left: 630px !important;
  animation: cloudDel 150s ease forwards;
}
.parallax__cloud-04 {
  top: -100px !important;
  right: -200px;
  left: auto !important;
  animation: cloudDel 130s ease forwards;
}
.parallax__cloud-05 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s infinite ease;
}
.parallax__cloud-06 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 120s 10s infinite ease;
}
.parallax__cloud-07 {
  top: 180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 20s infinite ease;
}
.parallax__cloud-08 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 130s 30s infinite ease;
}
.parallax__cloud-09 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 40s infinite ease;
}
.parallax__cloud-10 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 120s 50s infinite ease;
}
.parallax__cloud-11 {
  top: 180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 60s infinite ease;
}
.parallax__cloud-12 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 130s 70s infinite ease;
}
.parallax__cloud-13 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 80s infinite ease;
}
.parallax__cloud-14 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 120s 90s infinite ease;
}
.parallax__cloud-15 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 100s infinite ease;
}
.parallax__cloud-16 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 130s 110s infinite ease;
}
@keyframes cloudDel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1800px);
  }
}
@keyframes cloudRepeat {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2350px);
  }
}
.parallax__bg {
  position: absolute;
  top: 0;
  left: 0;
  //position: relative;
  width: 100%;
  height: 635px;
  .parallax__bg-inn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}
.parallax__bg--landscape {
  .parallax__bg-inn {
    width: 110%;
    transform: translate(-5%, -30px);
    animation: bgRightToLeft 2s 0s ease forwards;
    background-image: url('../img/parallax/parallax-landscape.png');
    background-position: 100% 0;
  }
}
.parallax__bg--main {
  .parallax__bg-inn {
    background-image: url('../img/parallax/parallax-main.png');
    background-position: 50% 50%;
  }
}
.parallax__bg--leaf {
  .parallax__bg-inn {
    width: 110%;
    transform: translate(-5%, 90px);
    animation: bgLeftToRight 2s 0s ease forwards;
    background-image: url('../img/parallax/parallax-leaf.png');
    //background-position: 50% 100%;
    background-position: 0 100%;
  }
}
.parallax__bg--title {
  .parallax__bg-inn {
    text-align: center;
    //    display: flex;
    //    justify-content: center;
    //    align-items: flex-start;
  }
}

.parallax__title {
  font-size: 228px;
  font-weight: 900;
  display: inline-block;
  //transform: translateY(-30px);
  transform: translateY(400px);
  animation: titleTop 2s .2s ease-out forwards;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
}
//.parallax__bg--01 {
//  .parallax__bg-inn {
//    width: 110%;
//    transform: translate(-5%, 120px);
//    background-image: url('../img/parallax-01.png');
//    background-position: 50% 100%;
//  }
//}
//.parallax__bg--02 {
//  .parallax__bg-inn {
//    width: 100%;
//    background-image: url('../img/parallax-02.png');
//    background-position: 50% 100%;
//    background-size: cover;
//  }
//}
//.parallax__bg--03 {
//  .parallax__bg-inn {
//    width: 110%;
//    transform: translate(-5%, -20px);
//    background-image: url('../img/parallax-03.jpg');
//    background-position: 50% 0;
//  //animation: bgLeftToRight 1s 2s ease-in-out forwards;
//  }
//}
//.parallax__bg--text {
//  text-align: center;
//}

@keyframes titleTop {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(-30px);
    opacity: 1;
  }
}

@keyframes bgLeftToRight {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 50%  100%;
  }
}

@keyframes bgRightToleft {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 50%  0;
  }
}

.parallax-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.parallax-footer__text {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.parallax-footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 25px auto 30px;
  transition: transform .5s;
  border: 1px solid;
  border-color: rgba(255, 255, 255, .7);
  &:hover {
    transform: scale(.95);
  }
  svg {
    width: 8px;
    height: 12px;
    transform: rotate(90deg);

    fill: #fff;
  }
}
