.main {
  min-height: 3000px;
}
.parallax-wrap {
  position: relative;
  display: flex;

}
.parallax-decor {
  width: 11px;
  position: absolute;
  margin: 0 10px;
  height: 100%;
  &::before,
  &::after {
    content: '';
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #c5c5c5;
  }
  svg {
    background-color: #fff;
    z-index: 1;
    position: relative;
    width: 11px;
    height: 59px;
    fill:#c5c5c5;
  }
}
.parallax-decor--left {
  top: 0;
  left: 0;
}
.parallax-decor--right{
  right: 0;
  transform: rotate(180deg);
  bottom: 0;
}
.parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  height: 635px;
  margin: 0 auto;
  background-color: #341;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    background-image: url('../img/shadow.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
.parallax__bg {
  position: relative;
  width: 100%;
  height: 635px;
  .parallax__bg-inn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}
.parallax__bg--01 {
  .parallax__bg-inn {
    width: 110%;
    transform: translate(-5%, 120px);
    background-image: url('../img/parallax-01.png');
    background-position: 50% 100%;
  }
}
.parallax__bg--02 {
  .parallax__bg-inn {
    width: 100%;
    background-image: url('../img/parallax-02.png');
    background-position: 50% 100%;
    background-size: cover;
  }
}
.parallax__bg--03 {
  .parallax__bg-inn {
    width: 110%;
    transform: translate(-5%, -20px);
    background-image: url('../img/parallax-03.png');
    background-position: 50% 0;
  }
}
.parallax__bg--text {
  text-align: center;
}
.parallax__title {
  font-size: 228px;
  font-weight: 900;
  display: inline-block;
  transform: translateY(400px);
  animation: titleTop 1s .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  text-transform: uppercase;
  color: #fff;
}

@keyframes titleTop {
  from {
    transform: translateY(400px);
  }
  to {
  transform: translateY(-30px);
  }
}

