.parallax-wrap {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
.parallax-decor {
  position: absolute;
  width: 11px;
  height: 100%;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    margin: auto;
    content: '';
    background-color: #c5c5c5;
  }
  svg {
    position: relative;
    z-index: 1;
    width: 11px;
    height: 59px;
    background-color: #f9f8f7;

    fill: #c5c5c5;
  }
}
.parallax-decor--left {
  top: 0;
  left: -30px;
}
.parallax-decor--right {
  right: -30px;
  bottom: 0;
  transform: rotate(180deg);
}
.parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  height: 635px;
  background-color: #b1d4e7;
}
.parallax__cloud {
  position: absolute;
  width: 713px;
  height: 275px;
  background-image: url('../img/parallax/cloud.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.parallax__cloud-01 {
  top: -100px !important;
  left: -130px !important;
  animation: cloudDel 150s ease forwards;
}
.parallax__cloud-02 {
  top: -180px !important;
  left: 330px !important;
  animation: cloudDel 120s ease forwards;
}
.parallax__cloud-04 {
  top: -100px !important;
  right: -200px;
  left: auto !important;
  animation: cloudDel 130s ease forwards;
}
.parallax__cloud-05 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s infinite ease;
}
.parallax__cloud-06 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 120s 10s infinite ease;
}
.parallax__cloud-08 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 130s 30s infinite ease;
}
.parallax__cloud-09 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 40s infinite ease;
}
.parallax__cloud-10 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 120s 50s infinite ease;
}
.parallax__cloud-12 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 130s 70s infinite ease;
}
.parallax__cloud-13 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 150s 80s infinite ease;
}
.parallax__cloud-14 {
  top: -180px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 120s 90s infinite ease;
}
.parallax__cloud-16 {
  top: -100px !important;
  right: -720px;
  left: auto !important;
  animation: cloudRepeat 130s 110s infinite ease;
}
@keyframes cloudDel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1800px);
  }
}
@keyframes cloudRepeat {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2350px);
  }
}
.parallax__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 635px;
  .parallax__bg-inn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}
.parallax__bg--landscape {
  .parallax__bg-inn {
    width: 110%;
    transform: translate(-5%, -30px);
    animation: bgRightToLeft 2s 0s ease forwards;
    background-image: url('../img/parallax/parallax-landscape.png');
    background-position: 100% 0;
  }
}
.parallax__bg--main {
  .parallax__bg-inn {
    background-image: url('../img/parallax/parallax-main.png');
    background-position: 50% 50%;
  }
}
.parallax__bg--leaf {
  .parallax__bg-inn {
    width: 110%;
    transform: translate(-5%, 90px);
    animation: bgLeftToRight 2s 0s ease forwards;
    background-image: url('../img/parallax/parallax-leaf.png');
    background-position: 0 100%;
  }
}
.parallax__bg--title {
  .parallax__bg-inn {
    text-align: center;
  }
}

.parallax__title {
  font-size: 228px;
  font-weight: 900;
  display: inline-block;
  transform: translateY(400px);
  animation: titleTop 2s 2s ease-out forwards;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
}
@keyframes titleTop {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(-30px);
    opacity: 1;
  }
}

@keyframes bgLeftToRight {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 50%  100%;
  }
}

@keyframes bgRightToleft {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 50%  0;
  }
}

.parallax-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.parallax-footer__text {
  font-size: 16px;
  font-weight: 700;
  animation: opacity .7s 4s ease-in-out forwards;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
}
.parallax-footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 25px auto 30px;
  transition: transform .5s;
  animation: opacityBorder .7s 3s ease-in-out forwards;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0);
  &:hover {
    transform: scale(.95);
  }
  svg {
    width: 8px;
    height: 12px;
    transform: rotate(90deg);
    animation: opacity .7s 2.5s ease-in-out forwards;
    opacity: 0;

    fill: #fff;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityBorder {
  from {
    border-color: rgba(255, 255, 255, 0);
  }
  to {
    border-color: rgba(255, 255, 255, .7);
  }
}
