.arr-up#arr-up

//begin footer
footer.footer#footer
  .footer-top
    .container
      .footer-top__item.footer-top__item--brands
        header.footer-top__item-header
          h3.footer-top__title Бренды
        .footer-top__item-col
          a(href="#").footer-top__link Вертимекс
          a(href="#").footer-top__link Люфокс
          a(href="#").footer-top__link Пелнум
          a(href="#").footer-top__link Вертимекс
          a(href="#").footer-top__link Люфокс
          a(href="#").footer-top__link Пелнум
          a(href="#").footer-top__link Люфокс
        .footer-top__item-col
          a(href="#").footer-top__link Вертимекс
          a(href="#").footer-top__link Люфокс
          a(href="#").footer-top__link Пелнум
          a(href="#").footer-top__link Вертимекс
          a(href="#").footer-top__link Люфокс
          a(href="#").footer-top__link Пелнум
          a(href="#").footer-top__link Люфокс
        .footer-top__item-col
          a(href="#").footer-top__link Вертимекс
          a(href="#").footer-top__link Люфокс
          a(href="#").footer-top__link Пелнум
          a(href="#").footer-top__link Вертимекс
          a(href="#").footer-top__link Люфокс
          a(href="#").footer-top__link Пелнум
          a(href="#").footer-top__link Люфокс

      .footer-top__item.footer-top__item--directions
        header.footer-top__item-header
          h3.footer-top__title Направления
        .footer-top__item-col
          a(href="#").footer-top__link Комплектующие для закладки сада, ягодника на шпалере
          a(href="#").footer-top__link Элитные саженцы
          a(href="#").footer-top__link Техника для садов и ягодников
          a(href="#").footer-top__link Регуляторы роста растений
          a(href="#").footer-top__link Защита сада и ягодника от града и заморозков
        .footer-top__item-col
          a(href="#").footer-top__link Капельное орошение
          a(href="#").footer-top__link Оборудование для сбора и переработки фундука и грецкого ореха
          a(href="#").footer-top__link Переработка и хранение урожая
          a(href="#").footer-top__link Оборудование для изготовления соков прямого отжима, сидра, пюре, джемов

      .footer-top__item.footer-top__item--contacts
        a(href="tel:+380443333345").footer-top__link-phone +380 44 333 33 45
        a(href="tel:+380675055121").footer-top__link-phone +380 67 505 51 21
        a(href="tel:+380674472020").footer-top__link-phone +380 67 447 20 20
        a(href="https://goo.gl/maps/UeKf7qHqEG12" target="_blank" rel="nofollow noopener noreferrer").footer-top__link-adress
          |вул. Генерала Наумова, 1,
          br
          |оф. 107, Україна, Київ, 03164
        a(href="mailto:eft.ukraine@gmail.com").footer-top__link-mail eft.ukraine@gmail.com
        button.btn.button--wayra.footer-top__btn.popup-open напишите нам

  .footer-bottom
    .container
      .footer-bottom__copyright
        span © EFT Group  - Все права защищены
      .footer-bottom__copyright
        span Сайт разработан:
        a(href="#") Mostofdesign
//end footer

include ../elements/popup