// begin header
header.header
  .container
    a(href="/").header-logo
      svg
        use(xlink:href="assets/img/sprite.svg#logo")

    .lang
      a(href="#").lang__item en
      a(href="#").lang__item.active ru
      a(href="#").lang__item ua

// end header