// begin header
header.header
  .container
    a(href="/").header-logo
      svg
        use(xlink:href="assets/img/sprite.svg#logo")

    .header__phone
      a(href="tel:+3+380443333345").header__phone-link +38 (044) 333 33 45
      span.header__phone-text пн-пт с 9-00 до 20-00

    .lang
      a(href="#").lang__item en
      a(href="#").lang__item.active ru
      a(href="#").lang__item ua

// end header