//begin parallax
.parallax-wrap
  include ../elements/preloader
  .parallax-decor.parallax-decor--left
    svg
      use(xlink:href="assets/img/sprite.svg#decor")
  .parallax-decor.parallax-decor--right
    svg
      use(xlink:href="assets/img/sprite.svg#decor")

  .parallax#parallax
    //begin clouds
    .parallax__cloud.parallax__cloud-01
    .parallax__cloud.parallax__cloud-02
    .parallax__cloud.parallax__cloud-04
    .parallax__cloud.parallax__cloud-05
    .parallax__cloud.parallax__cloud-06
    .parallax__cloud.parallax__cloud-08
    .parallax__cloud.parallax__cloud-09
    .parallax__cloud.parallax__cloud-10
    .parallax__cloud.parallax__cloud-12
    .parallax__cloud.parallax__cloud-13
    .parallax__cloud.parallax__cloud-14
    .parallax__cloud.parallax__cloud-16
    //end clouds

    .parallax__bg.parallax__bg--landscape(data-depth="0.15")
      .parallax__bg-inn
    .parallax__bg.parallax__bg--title(data-depth="0.05")
      .parallax__bg-inn
        h2.parallax__title EFT
    .parallax__bg.parallax__bg--main
      .parallax__bg-inn
    .parallax__bg.parallax__bg--leaf(data-depth="-0.3")
      .parallax__bg-inn
  .parallax-footer
    .parallax-footer__text
      span
        | Простые решения
        br
        | для сада под ключ
    a(href="#about-sec").parallax-footer__btn
      svg
        use(xlink:href="assets/img/sprite.svg#arrow")
//end   parallax