//begin pagination
section.pagination#pagination
  ul.pagination__list
    li.line#line-t
    li.line#line-b
    li.pagination__item
      a.pagination__link(href='#') 1
    li.pagination__item.active
      a.pagination__link(href='#') 2
    li.pagination__item
      a.pagination__link(href='#') 3
    li.pagination__item
      a.pagination__link.inactive(href='#') ...
    li.pagination__item
      a.pagination__link(href='#') 8
//end pagination
