// ***** main colors *******
$brand: #43ac34;
$dark: #181a19;
$light: #f5f5f5;

$highlight: #43ac34;
$highlight-hov: #59233b;

// ***** text colors *******
$text: #646464;
$title: #141414;

// ===== fonts =====
$font:            'Roboto', sans-serif;

// ===== sizes =====
$radius-btn: 6px;
