block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}

    meta(name="description" content="EFT group")
    meta(name="keywords"    content="EFT group")
    meta(name="author"      content="odinokun")

    // begin responsive
    meta(name="viewport"              content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    // end responsive

    // begin social content&image
    meta(property='og:title'  content='EFT group')
    meta(property='og:url'    content='http://odinokun.com/')
    meta(property="og:image"  content="assets/img/social.jpg")
    // end social content&image

    // begin favicon block start
    link(rel='shortcut icon'    type='image/x-icon' href='assets/img/favicon/favicon.png')
    // end favicon block end

    style.
      .preloader{position:fixed;z-index:100;top:0;right:0;bottom:0;left:0;width:100%;height:100vh}.preloader::after,.preloader::before{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;content:''}.preloader::before{animation:preloaderOpacity .5s 1.6s ease-in-out forwards;background-color:#f9f8f7}.preloader::after{transform:translateX(-100%);animation:preloader 2s .6s ease-in-out forwards;background-color:#43ac34}@keyframes preloader{0%,100%{transform:translateX(-100%)}50%{transform:translateX(0)}}@keyframes preloaderOpacity{0%{opacity:1}100%{opacity:0}}

    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')
    link(rel='stylesheet' href='assets/css/uncompressed.css')

    // begin custom browsers color
    meta(name='theme-color', content='#43ac34')
    // end custom browsers color

    //[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]

  body
    block content



