// core
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixins';
@import 'core/base';

//elements
 @import 'elements/slickBase';
 @import 'elements/breadcrumbs';
 @import 'elements/btn';
 @import 'elements/menu';
 @import 'elements/waves';
 @import 'elements/burger';
 @import 'elements/pagination';
 @import 'elements/popup';
 //@import 'elements/preloader';

//section
@import 'sections/footer';
@import 'sections/header';
@import 'sections/parallax';
@import 'sections/about-sec';
@import 'sections/directions-sec';
@import 'sections/leaf-header';

//pages
@import 'pages/index';
@import 'pages/contacts';
@import 'pages/service';
@import 'pages/directions';
@import 'pages/brand';
@import 'pages/product';
