// core
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixins';
@import 'core/base';

//elements
// @import 'elements/burger';
// @import 'elements/pagination';
// @import 'elements/popup';
// @import 'elements/slickBase';
// @import 'elements/stickyHeader';
 @import 'elements/breadcrumbs';
 @import 'elements/btn';
 @import 'elements/menu';
 @import 'elements/waves';

//section
@import 'sections/footer';
@import 'sections/header';
@import 'sections/parallax';
@import 'sections/about-sec';
@import 'sections/directions-sec';

//pages
@import 'pages/index';
@import 'pages/contacts';
