.brand-page {
  position: relative;
}
.brand-page__left-title {
  font-size: 14px;
  position: absolute;
  top: 95px;
  left: 35px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  opacity: .5;
  color: #0f0f0f;

  @include max(1100) {
    left: -10px;
  }
  @include max(730) {
    display: none;
  }
}
.brand-top {
  display: flex;
  padding: 0px 0 30px 0;

  @include max(730) {
    align-items: center;
    flex-direction: column-reverse;
  }
}
.brand-top__left {
  p {
    font-size: 14px;
    line-height: 21px;
    opacity: .7;
    color: #0f0f0f;
  }
}

.brand-top__right {
  display: flex;
  align-items: center;
  flex: none;
  justify-content: flex-end;
  width: 300px;

  @include max(730) {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.brand-top__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #0f0f0f;

  @include max(730) {
    text-align: center;
  }
}
.brand-top__logo {
  flex: none;
  width: 237px;
  height: 237px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.brand {
  .directions-sec__header {
    padding: 15px 20px 40px 0;
  }
  .directions-sec__header-title {
    text-align: left;
    font-size: 28px;
    font-weight: 500;
  }
}
