.contacts {
  padding-bottom: 0;
  & > .container {
    position: relative;
  }
}
.contacts__title {
  font-size: 36px;
  font-weight: 500;
  margin: 5px 0 20px 0;
  padding-left: 10px;
  color: #0f0f0f;
}
.contacts-item-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 10px;
}
.contacts-item-wrap {
  display: flex;
  padding-right: 70px;
  padding-bottom: 20px;

  @include max(1200) {
    padding-right: 0;
  }
  @include max(1000) {
    width: 50%;
    &:nth-child(2) {
      order: -1;
      width: 100%;
    }
  }
  @include max(425) {
    flex-wrap: wrap;
    width: 100%;
  }
  &:last-child {
    padding-right: 0;
  }
}
.contacts-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-right: 40px;

  @include max(1000) {
    width: 100%;
  }
  &:hover {
    .contacts-item__links  a {
      color: $highlight;
    }
  }
}
.contacts-item__icon {
  flex: none;
  width: 40px;
  padding-top: 2px;
  svg {
    width: 22px;
    height: 22px;

    fill: $highlight;
  }
}
.contacts-item__links {
  a {
    font-size: 14px;
    line-height: 21px;
    display: block;
    transition: color .5s;
    text-decoration: none;
    opacity: .7;
    color: #0f0f0f;
  }
}

.contacts-map-sec {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
  background-color: #fff;
}
.contacts-map__left {
  width: 55%;
  min-height: 520px;

  @include max(670) {
    width: 100%;
    min-height: 300px;
  }
}

.contacts-map__right {
  width: 45%;
  max-width: 520px;
  padding: 65px 30px 90px 75px;

  @include max(1000) {
    padding: 50px 30px;
  }
  @include max(670) {
    width: 100%;
  }
}

.contacts-form__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 280px;
  margin-bottom: 35px;
  color: #0f0f0f;
}
.contacts-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 415px;
}
.contacts-form__input {
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 5px 8px 0;
  color: #0f0f0f;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ccccce;
  border-left: none;

  @include placeholder-color(#0f0f0f);
}
.contacts-form__input-btn {
  width: auto;
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  border: 1px solid rgba(67, 172, 52, .3);
  &:hover {
    border-color: $highlight;
    .contacts-form__input-submit {
      color: #fff;
    }
  }
}
.contacts-form__input-btn:hover::before {
  opacity: 1;
  background-color: $highlight;
}
.contacts-form__input-submit {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  transition: color .5s;
  text-transform: uppercase;
  color: #43ac34;
  border: none;
  background-color: transparent;
}
