.directions-wrap {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  .container {
    display: flex;
    @include max(730) {
      flex-direction: column;
    }
  }
}

.directions-filter {
  width: 360px;
  flex: none;
  padding: 0 20px 0 10px;
  @include max(1270) {
    width: 300px;
  padding: 0 10px 0 0px;
  }
  @include max(1100) {
    width: 200px;
  }
  @include max(730) {
    width: 100%;
    display: flex;
  }
  @include max(480) {
    flex-wrap: wrap;
  }
}
.directions-filter__form{
  margin-bottom: 30px;
  @include max(730) {
    padding-right: 40px;
  }
  @include max(480) {
    width: 100%;
    padding-right: 0;
  }
}


.directions-filter__row {
  margin-bottom: 7px;
  label {
    display: flex;
    align-items: flex-start;
  }
  input {
    display: none;
  }
}
.directions-filter__row input:checked + .directions-filter__checkbox {
  background-image: url('../img/check.png');
  background-repeat: no-repeat;
  background-position: center;
  & + span {
    font-weight: 700;
  }
}
.directions-filter__checkbox {
  margin-right: 15px;
flex:none;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(200, 200, 200, 0.87);
  border-radius: 3px;
}
.directions-filter__text {
  color: #0f0f0f;
  font-size: 14px;
  padding-top: 3px;
}
.directions-filter__form-title {
  font-size: 24px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 20px;
}



.directions-list {
  display: flex;
  flex-wrap: wrap;
@include max(1000) {
  justify-content: space-between;
}
  @include max(480) {
    justify-content: center;
  }
}
.directions-list__title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0f0f0f;
  font-weight: 500;
}
.directions-list__header {
  width: 100%;
  padding-right: 20px;
  margin-bottom: 25px;
  @include max(700) {
    padding-right: 0;
  }
  p {
    font-size: 14px;
    opacity: .7;
    color: #0f0f0f;
    line-height: 21px;
  }
}
.directions-item {
  text-decoration: none;
  margin-right: 30px;
  width: calc(33.33% - 30px);
  max-width: 282px;
  margin-bottom: 30px;
  background-color: #fff;
  @include max(1000) {
    width: 47%;
    margin-right: 0;
  }
  @include max(480) {
    width: 100%;
  }
}
.directions-item__pic {
  img {
    display: block;
    max-width: 100%;
  }
}
.directions-item__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.directions-item__text {
  padding: 20px 30px 10px 30px;
  p {
    font-size: 14px;
    opacity: .7;
    color: #0f0f0f;
    line-height: 21px;
  }
}