.directions-wrap {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  .container {
    display: flex;

    @include max(730) {
      flex-direction: column;
    }
  }
}

.directions-filter {
  flex: none;
  width: 360px;
  padding: 0 20px 0 10px;

  @include max(1270) {
    width: 300px;
    padding: 0 10px 0 0;
  }
  @include max(1100) {
    width: 200px;
  }
  @include max(730) {
    display: none;
    width: 100%;
    &.active {
      display: flex;
    }
  }
  @include max(480) {
    flex-wrap: wrap;
  }
}
.directions-filter__form {
  margin-bottom: 30px;

  @include max(730) {
    padding-right: 40px;
  }
  @include max(480) {
    width: 100%;
    padding-right: 0;
  }
}


.directions-filter__row {
  margin-bottom: 7px;
  label {
    display: flex;
    align-items: flex-start;
  }
  input {
    display: none;
  }
}
.directions-filter__row input:checked + .directions-filter__checkbox {
  background-image: url('../img/check.png');
  background-repeat: no-repeat;
  background-position: center;
  & + span {
    font-weight: 700;
  }
}
.directions-filter__checkbox {
  flex: none;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  border: 1px solid rgba(200, 200, 200, .87);
  border-radius: 3px;
}
.directions-filter__text {
  font-size: 14px;
  padding-top: 3px;
  color: #0f0f0f;
}
.directions-filter__form-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #0f0f0f;
}



.directions-list {
  display: flex;
  flex-wrap: wrap;

  @include max(1000) {
    justify-content: space-between;
  }
  @include max(480) {
    justify-content: center;
  }
}
.directions-list__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #0f0f0f;

  @include max(730) {
    text-align: center;
  }
}
.directions-filter__btn {
  font-size: 14px;
  font-weight: 700;
  display: none;
  width: 100%;
  margin: 0 auto 30px;
  padding: 5px;
  cursor: pointer;
  color: #0f0f0f;
  border: 1px solid rgba(200, 200, 200, .87);
  background-color: transparent;

  @include max(730) {
    display: block;
    width: 100%;
  }
}
.directions-list__header {
  width: 100%;
  margin-bottom: 25px;
  padding-right: 20px;

  @include max(730) {
    padding-right: 0;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    opacity: .7;
    color: #0f0f0f;
  }
}
.directions-item {
  width: calc(33.33% - 30px);
  max-width: 282px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: .5s;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,.0);

  @include max(1000) {
    width: 47%;
    margin-right: 0;
  }
  @include max(480) {
    width: 100%;
  }
  &:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,.06);
  }
}
.directions-item__pic {
  img {
    display: block;
    max-width: 100%;
  }
}
.directions-item__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
.directions-item__text {
  padding: 20px 30px 10px 30px;
  p {
    font-size: 14px;
    line-height: 21px;
    opacity: .7;
    color: #0f0f0f;
  }
}
